PORT=8088
KAFKA_BROKER=localhost:9092
MONGO_URI=mongodb://localhost:27017/sm_whatsapp
SM_WHATSAPP_CLOUD_API_TOKEN=changeme
SM_WHATSAPP_PHONE_NUMBER_ID=changeme
ADMIN_SERVICE_URL=http://localhost:8092
