PORT=8084
KAFKA_BROKER=localhost:9092
DATABASE_URL=postgresql://schoolmanage:schoolmanage_dev_pwd@localhost:5432/sm_presence_db
REDIS_HOST=localhost
REDIS_PORT=6379
ADMIN_SERVICE_URL=http://localhost:8092
