PORT=8085
KAFKA_BROKER=localhost:9092
DATABASE_URL=postgresql://schoolmanage:schoolmanage_dev_pwd@localhost:5432/sm_notification_db
REGISTRATION_SERVICE_URL=http://localhost:8082
AUTH_SERVICE_URL=http://localhost:8081
SM_NOTIFICATION_SENDGRID_API_KEY=changeme
SM_NOTIFICATION_SENDGRID_FROM_EMAIL=no-reply@schoolmanage.example.cm
SM_NOTIFICATION_TWILIO_SID=changeme
SM_NOTIFICATION_TWILIO_TOKEN=changeme
SM_NOTIFICATION_TWILIO_FROM_NUMBER=changeme
SM_NOTIFICATION_FCM_SERVER_KEY=changeme
